<header class="th-header header-layout3 header-absolute">
    <div class="sticky-wrapper">
        <div class="menu-area">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        <div class="header-logo">
                            <a href="#">
                                <img style="height:100px;width:auto;" src="{{'assets/img/life-voyage/loog.png'|theme }}" alt="Life Voyage">
                            </a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <nav class="main-menu d-none d-xl-block">
                            <ul>
                                <li>
                                    <a class="active" href="/">Acceuil</a>
                                </li>
                                <li><a href="#">A propos de nous</a></li>
<!--                                <li class="menu-item-has-children">-->
<!--                                    <a href="#">Destination</a>-->
<!--                                    <ul class="sub-menu">-->
<!--                                        <li><a href="#">Destination</a></li>-->
<!--                                        <li><a href="#">Détails de la destination</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
                                <li class="menu-item-has-children">
                                    <a href="#">Nos Services</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">En attente</a></li>
                                        <li><a href="#">En attente</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Contactez-nous</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
<!--                    <div class="col-auto">-->
<!--                        <nav class="main-menu d-none d-xl-block">-->
<!--                            <ul>-->
<!--                                <li class="menu-item-has-children">-->
<!--                                    <a href="#">Activités</a>-->
<!--                                    <ul class="sub-menu">-->
<!--                                        <li><a href="#">activités</a></li>-->
<!--                                        <li><a href="#">Détails des activités</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                                <li class="menu-item-has-children">-->
<!--                                    <a href="#">Pages</a>-->
<!--                                    <ul class="sub-menu">-->
<!--                                        <li class="menu-item-has-children">-->
<!--                                            <a href="#">Boutique</a>-->
<!--                                            <ul class="sub-menu">-->
<!--                                                <li><a href="shop.html">Boutique</a></li>-->
<!--                                                <li><a href="shop-details.html">Détails de la boutique</a></li>-->
<!--                                                <li><a href="cart.html">Panier</a></li>-->
<!--                                                <li><a href="checkout.html">Paiement</a></li>-->
<!--                                                <li><a href="wishlist.html">Liste de souhaits</a></li>-->
<!--                                            </ul>-->
<!--                                        </li>-->

<!--                                        <li><a href="gallery.html">Galerie</a></li>-->
<!--                                        <li><a href="tour.html">Nos circuits</a></li>-->
<!--                                        <li><a href="tour-details.html">Détails du circuit</a></li>-->
<!--                                        <li><a href="tour-guide.html">Guide touristique</a></li>-->
<!--                                        <li><a href="tour-guider-details.html">Détails du guide</a></li>-->
<!--                                        <li><a href="faq.html">FAQ</a></li>-->
<!--                                        <li><a href="price.html">Forfaits tarifaires</a></li>-->
<!--                                        <li><a href="error.html">Page d'erreur</a></li>-->
<!--                                    </ul>-->

<!--                                </li>-->
<!--                                <li class="menu-item-has-children">-->
<!--                                    <a href="#">Blog</a>-->
<!--                                    <ul class="sub-menu">-->
<!--                                        <li><a href="blog.html">Blog</a></li>-->
<!--                                        <li><a href="blog-details.html">Détails de l'article</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">Contactez-nous</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </nav>-->
<!--                        <button type="button" class="th-menu-toggle d-block d-xl-none"><i class="far fa-bars"></i></button>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="header-right-button">
                <a href="#" class="simple-btn sideMenuToggler"><img src="{{'assets/img/icon/menu.svg'|theme }}" alt=""></a>
            </div>
        </div>
    </div>
</header>
