<footer class="footer-wrapper bg-title footer-layout2">
    <div class="widget-area">
        <div class="container">
            <div class="newsletter-area">
                <div class="newsletter-top">
                    <div class="row gy-4 align-items-center">
                        <div class="col-lg-5">
                            <h2 class="newsletter-title text-white text-capitalize mb-0">Recevez nos offres et alertes visa</h2>
                        </div>
                        <div class="col-lg-7">
                            <form class="newsletter-form style2">
                                <input class="form-control " type="email" placeholder="Votre email" required="">
                                <button type="submit" class="th-btn style1">S'abonner <img src="{{ 'assets/img/icon/plane2.svg' | theme }}" alt=""></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-md-6 col-xl-3">
                    <div class="widget footer-widget">
                        <div class="th-widget-about">
                            <div class="about-logo">
                                <a href="home-travel.html"><img style="height:56px;width:auto;" src="{{'assets/img/life-voyage/loog.png'|theme }}" alt="Life Voyage"></a>
                            </div>
                            <p class="about-text">Votre partenaire de confiance pour tous vos voyages à travers le monde. Voyagez sans stress, nous nous occupons de tout !</p>
                            <div class="th-social">
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                <a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                                <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Liens rapides</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">

                                <li><a href="{{ 'accueil'|page }}">Accueil</a></li>
                                <li><a href="{{ 'a-propos'|page }}">À propos de nous</a></li>
                                <li><a href="{{ 'accompagnement-visa'|page }}">Nos services</a></li>
                                <li><a href="{{ 'contact'|page }}">Contactez-nous</a></li>
                                <li><a href="{{ 'contact'|page }}">Demander un devis</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Contactez-nous</h3>
                        <div class="th-widget-contact">
                            <div class="info-box_text">
                                <div class="icon">
                                    <img src="{{'assets/img/icon/phone.svg' | theme }}" alt="img">
                                </div>
                                <div class="details">
                                    <p><a href="tel:+2250757397423" class="info-box_link">+225 07 57 39 74 23</a></p>
                                    <p><a href="tel:+2250789152812" class="info-box_link">+225 07 89 15 28 12</a></p>
                                    <p><a href="tel:+2252721734109" class="info-box_link">+225 27 21 73 41 09</a></p>
                                </div>
                            </div>
                            <div class="info-box_text">
                                <div class="icon">
                                    <img src="{{'assets/img/icon/envelope.svg' |theme }}" alt="img">
                                </div>
                                <div class="details">
                                    <p><a href="mailto:info@lifevoyagestourisme.com" class="info-box_link">info@lifevoyagestourisme.com</a></p>
                                    <p><a href="https://www.lifevoyagestourisme.com" class="info-box_link">www.lifevoyagestourisme.com</a></p>
                                </div>
                            </div>
                            <div class="info-box_text">
                                <div class="icon"><img src="{{ 'assets/img/icon/location-dot.svg'|theme }}" alt="img"></div>
                                <div class="details">
                                    <p>Grand-Bassam, Mockeyville, Carrefour Femme Peulh 2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Suivez-nous sur Facebook</h3>
                        <div class="sidebar-gallery">
                            <div class="gallery-thumb">
                                <img src="{{'assets/img/widget/gallery_1_1.jpg'|theme }}" alt="Galerie Image">
                                <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                            <div class="gallery-thumb">
                                <img src="{{'assets/img/widget/gallery_1_2.jpg'|theme }}" alt="Galerie Image">
                                <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                            <div class="gallery-thumb">
                                <img src="{{'assets/img/widget/gallery_1_3.jpg'|theme }}" alt="Galerie Image">
                                <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                            <div class="gallery-thumb">
                                <img src="{{'assets/img/widget/gallery_1_4.jpg'|theme }}" alt="Galerie Image">
                                <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                            <div class="gallery-thumb">
                                <img src="{{'assets/img/widget/gallery_1_5.jpg'|theme }}" alt="Galerie Image">
                                <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                            <div class="gallery-thumb">
                                <img src="{{'assets/img/widget/gallery_1_6.jpg'|theme }}" alt="Galerie Image">
                                <a target="_blank" href="https://www.instagram.com/" class="gallery-btn"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6">
                    <p class="copyright-text">Copyright 2026 <a href="#">Life Voyages &amp; Tourisme</a>. Tous droits réservés.</p>
                </div>
                <div class="col-md-6 text-end d-none d-md-block">
                    <div class="footer-card">
                        <span class="title">Nous acceptons</span>
                        <img src="{{'assets/img/shape/cards.png'|theme }}" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="shape-mockup movingX d-none d-xxl-block" data-top="24%" data-left="5%">
        <img src="{{'assets/img/shape/shape_8.png'|theme }}" alt="shape">
    </div>
</footer>
